body{
  font-family: "Montserrat";
  text-align: center;
}

.container-fluid{
  padding: 3% 15% 7%;

}
h1,h2,h3,h4,h5,h6{
  font-family:  "Montserrat-Bold", sans-serif;
  font-weight: bolder;
}

p{
  color: #8f8f8f;
}
/* navigation-bar */
.navbar{
  padding: 0 0 4.5rem  ;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0px 18px;
}

.nav-link{
  font-size: 1.2rem;
}

/* Download-button */
.Download-button{
  margin: 5% 4% 3% 0;
}

/* title-img */
.img-title{
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  left:  25%
}

.iphone{
  position: relative;
}

/* heading */
.big-heading{
  font-family:  "Montserrat-Bold", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
.section-heading{
  font-size: 2.5rem
  font-weight:bolder;
}
.container-fluid{
  padding: 7% 15%;
}

#title .container-fluid{
  padding: 3% 15% 7%;
  background-color: #ff4c68;
  text-align: left
}


/* feature */
#features{

  position: relative;
  background-color: #fff;
  z-index: 1

}
.feature-title{
  font-weight: bolder;
}

@media(max-width:1028px){
  #title{
    text-align: center;
  }
  .img-title{
    transform: rotate(0);
    position: static;
  }
}

.feature-box{

  padding: 4%
}

.icon{
  color: #E74646;
}
.icon:hover{
  color:#CE5959;
}

/* testimonials-section */
#testimonials{
  background-color: #F48484;
}

.testimonial-text{
  font-size: 2.5rem;
  font-weight: bolder;
}
.testi-img{
  width: 20%;
  border-radius: 100%;
  margin: 20px
}



#press{
  background-color: #F48484;

  padding-bottom: 2%
}

.press-logo{
  width: 15%;
  margin: 20px 20px 40px;
}

/* pricing section */

#pricing{
  padding: 100px;

}

.section-heading{
  font-size: 2.5rem
  font-weight:bolder;
}
.price-text{
  font-weight: bolder;
  font-size: 2.5rem;
  line-height: 1.5
}
.pricing-column{
  padding: 3% 2%;
}


/* call-to-action */
#cta{
  background-color: #ff4c68;

  font-family: "Montserrat-Black", sans-serif;
  padding: 5% 15% ;

}

.btn-cta{
  margin:10px 10px;
}

/* footer-section */
#footer{

  background-color: #fff;

}

.btn-sm{
  margin: 20px 20px
}
